@import 'variables';

@mixin DashboardView1 {
    .userView1{
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: 0.5s;
        background-color: $secondary;
        .search{
            width: 100%;
            border-bottom: 1px solid $tertiary;
            height: 10%;
            padding: 20px;
            display: flex;
            i{
                font-size: 2em;
                cursor: pointer;
                color: $tertiary;
                &:hover{
                    color: white;
                }
            }
            form{
                margin: auto;
                display: flex;
                
                width: 70%;
                justify-content: space-between;
                
                label{
                    width: 100%;
                    display: flex;
                    padding-left: 10px;
                    background-color: $primary;

                    border-radius: 30px;
                    color: $tertiary;
                    align-items: center;
                    &:hover{
                        color: white;
                    }
                    
                    
                }
                input{
                    width: 90%;
                    border: none;
                    outline: 0;
                    background-color: transparent;
                    color: $tertiary;
                    padding: 10px;
                }

            }
        }
        .messageContainer{
            width: 100%;
            margin-top: 20px;
            height: 90%;
            overflow-y: auto;
            .activeIndicator{
                margin-top: auto;
                margin-left: -25px;
                margin-right: 10px;
            }
            
            .messageContent{
                display: flex;
                z-index: 9;
                color: $tertiary;
                padding: 10px;
                height: 75px;
                cursor: pointer;
                position: relative;
                font-family: $primaryFont, sans-serif;
                &:hover{
                    background-color: $primary;
                }
                .messageOptionActive{
                    height: 70px !important;
                }
                .message-options{
                    overflow: hidden;
                    transition: .5s;
                    width: 100px;
                    position: absolute;
                    right: 10px;
                    margin-top: 20px;
                    height: 0;
                    background-color: $primary;
                    z-index: 10;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 13px;
                    button{
                        background-color: transparent;
                        outline: 0;
                        border: none;
                        color: $tertiary;
                        cursor: pointer;
                        padding: 10px;
                        border-radius: 13px;
                        &:hover{
                            background-color: $secondary;
                            color: white;

                        }
                    }
                }
                .message{
                    width:50%;
                    h4, p{
                        
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                } 
                i{
                    float: right;
                    margin-left: 2px;
                    z-index: 10;
                    &:hover{
                        color: white;
                    }
                }
                
                
                img{
                    width:60px;
                    border-radius: 60px;
                    height: 60px;
                    margin-right: 10px;
                    
                }
            }
            .right{
                margin-left: auto;
                // min-width: 60px;
            }
        }
    }
    .viewHide{
        width: 0;

    }
    .contactListContainer{
        font-family: $primaryFont, sans-serif;
        height: 100%;
        width: 100%;
        .activeIndicator{
            margin-top: auto;
            margin-left: -10px;
        }
        nav{
            text-align: center;
            button{
                margin: 20px 10px;
                width: 40%;
                padding: 10px;
                border: none;
                outline: 0;
                background-color: transparent;
                color: $tertiary;
                font-size: 1.2em;
                border-radius: 20px;
                cursor: pointer;
                &:hover{
                    color: white;
                    background-color: $primary;
                }
            }
            .activeContactBtn{
                color: white;
                background-color: $primary;
                
            }
        }
        .activeContactLists, .allContactLists{
            height: 75%;
            width: 90%;
            margin: auto;
            display: none;
            overflow: auto;
        }
        .activeContactLists{
            

        }
        .allContactLists{

        }
        .contactActive{
            display: flex;
            width: 90%;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                background-color: $primary;

            }
            img{
                width: 50px;
                height: 50px;
                border-radius: 50px;
                
            }
            p{
                font-family: $primaryFont, sans-serif;
                color: $tertiary;
                font-weight: 600;
                margin-left: 20px;
            }
        }
        .activeContactContainer{
            display: block;
        }
        
    }
    .settings{
        color: $tertiary;
        padding: 20px;
        a{
            text-decoration: none;
            color: $tertiary;
        }
        ul{
            list-style-type: none;
            margin-top: 20px;
        }
        li{
            display: flex;
            align-items: center ;
            cursor: pointer;
            &:hover{
                color: white;
                h3{
                    border-bottom: 1px solid white;
                    
                }
            }
        }
        h3{
            font-family: $primaryFont, sans-serif;
            font-size: 1.2em;
            padding: 10px 0;
            border-bottom: 1px solid $tertiary;
            width: 100%;
           
        }
        i{
            margin-right: 10px;
            font-size: 1.2em;
        }
    }
    @media screen and (min-width: 900px){
        .userView1{
            width: 30%;
            .fa-bars{
                display: none;
            }
        }
    }
    
}