@import 'variables';

@mixin DashboardView1 {
    .userView1{
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: 0.5s;
        background-color: $secondary;
        .search{
            width: 100%;
            border-bottom: 1px solid $tertiary;
            height: 10%;
            padding: 20px;
            display: flex;
            i{
                font-size: 2em;
                cursor: pointer;
                color: $tertiary;
                &:hover{
                    color: white;
                }
            }
            form{
                margin: auto;
                display: flex;
                
                width: 70%;
                justify-content: space-between;
                
                label{
                    width: 100%;
                    display: flex;
                    padding-left: 10px;
                    background-color: $primary;

                    border-radius: 30px;
                    color: $tertiary;
                    align-items: center;
                    &:hover{
                        color: white;
                    }
                    
                    
                }
                input{
                    width: 90%;
                    border: none;
                    outline: 0;
                    background-color: transparent;
                    color: $tertiary;
                    padding: 10px;
                }

            }
        }
        .messageContainer{
            width: 100%;
            margin-top: 20px;
            height: 90%;
            overflow-y: auto;
            
            .messageContent{
                display: flex;
                z-index: 9;
                color: $tertiary;
                padding: 10px;
                height: 75px;
                cursor: pointer;
                position: relative;
                font-family: $primaryFont, sans-serif;
                &:hover{
                    background-color: $primary;
                }
                .messageOptionActive{
                    height: 70px !important;
                }
                .message-options{
                    overflow: hidden;
                    transition: .5s;
                    width: 100px;
                    position: absolute;
                    right: 10px;
                    margin-top: 20px;
                    height: 0;
                    background-color: $primary;
                    z-index: 10;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 13px;
                    button{
                        background-color: transparent;
                        outline: 0;
                        border: none;
                        color: $tertiary;
                        cursor: pointer;
                        padding: 10px;
                        border-radius: 13px;
                        &:hover{
                            background-color: $secondary;
                            color: white;

                        }
                    }
                }
                .message{
                    width: 50%;
                    h4, p{
                        
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                } 
                i{
                    float: right;
                    margin-left: 2px;
                    z-index: 10;
                    &:hover{
                        color: white;
                    }
                }
                
                
                img{
                    width:60px;
                    border-radius: 60px;
                    height: 60px;
                    margin-right: 10px;
                }
            }
        }
    }
    .viewHide{
        width: 0;

    }
    
}