@import 'variables';

@mixin DashboardView2 {
    .userView2{
        width: 0;
        height: 100%;
        transition: 0.5s;
        overflow: hidden;
        font-family: $secondaryFont, sans-serif;
        display: flex;
        flex-direction: column;
        .chatHeader{
            width: 100%;
            border-bottom: 1px solid $tertiary;
            height: 10%;
            background-color: transparent;
            display: flex;
            align-items: center;
            .activeIndicator{
                margin-top: 30px;
                margin-left: -10px;
            }
            i{
                font-size: 2em;
                margin-left: 20px;
                color: $quarternary;
                cursor: pointer;
            }
            img{
                width: 40px;
                height: 40px;
                border-radius: 40px;
                margin-left: 20px;
            }
            h4{
                margin-left: 10px;
                color: $quarternary;
                font-size: 1.2em;

            }
        }
        .chat{
            height: 82%;
            width: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 10px;
            font-family: $primaryFont, sans-serif;
            .chat-content{
                display: flex;
                margin-top: 20px;
                align-items: center;
                // width: 80%;
            }
            .userMessage{
                flex-direction: row-reverse;
                .chat-message{
                    background-color: $quarternary;
                }
            }
            .chat-message{
                max-width: 60%;
                padding: 10px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                margin: 0 5px;
                background-color: $tertiary;
                p{
                    word-break: break-all;
                    font-size: 1em;

                }
            }
            p{
                font-size: 12px;
            }
            img{
                width: 50px;
                height: 50px;
                border-radius: 50px;
                margin-bottom: auto;
            }
        }
        .chat-input{
            height: 8%;
            width: 100%;
            border-top: 1px solid $tertiary;
            display: flex;
            align-items: center;
            padding: 0 20px;
            form{
                display: flex;
                width: 100%;
                input[type=file]{
                    display: none;
                }
                textarea{
                    padding: 10px;
                    resize: none;
                    border: none;
                    background-color: transparent;
                    width: 80%;
                    margin-left: auto;
                    outline: 0;
                    font-family: $primaryFont, sans-serif;
                    max-height: 200px;
                }
                button, .fa-image{
                    border: none;
                    background-color: transparent;
                    color: $quarternary;
                    font-size: 1.4em;
                    
                    cursor: pointer;
                }
                label{
                    display: flex;
                    align-items: center;
                }
            }
        }
        .contactProfile{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            font-family: $primaryFont, sans-serif;
            color: $quarternary;
            i{
                font-size: 2em;
                position: absolute;
                top: 5px;
                left: 10px;
                color: $quarternary;
            }
            img{
                margin-top: 20px;
                width: 150px;
                height: 150px;
                border-radius: 150px;
            }
            .messageOption{
                li{
                    color: $quarternary;
                    margin: 10px;
                    font-size: 1.5em;
                    &:hover{
                        color: $primary;
                    }
                }
            }
            .userInfo{
                color: $quarternary;
                margin-right: auto;
                margin-top: 20px;
                font-family: $primaryFont, sans-serif;
                padding: 20px;
                ul{
                    list-style-type: none;
                }
                p{
                    font-size: 0.7em;
                }
                li{
                    margin-top: 10px;
                }
                
            }
        }
        .personalInfo{
            font-family: $primaryFont, sans-serif;
            color: $quarternary;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            a{
                color: $quarternary;
            }
            .fa-angle-left{
                position: absolute;
                font-size: 2em;
                top: 10px;
                left: 20px;
                cursor: pointer;
            }
            .inputContainer{
                display: flex;
                width: 100%;
                justify-content: space-between;
                i{
                    cursor: pointer;
                }
            }
            h2{
                margin: 30px;


            }
            .form{
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .error{
                    margin-top: 0 !important;
                    font-size: 0.9em;
                    color: red;
                    font-weight: normal;
                    margin-bottom: 20px;
                }

            }
            input{
                font-family: $primaryFont, sans-serif;
                color: $quarternary;
                border: none;
                outline: none;
                background-color: transparent;
                border-bottom: 1px solid $quarternary;
                
                width: 90%;
                
            }
            p{
                font-size: 1em;
                font-weight: 600;
                
            }
            
            form{
                width: 100%;
            }
        }
    }
    .userView2Open{
        width: 100%;
    }
    @media screen and (min-width: 900px){
        .userView2{
            width: 63%;
            .fa-angle-left{
                display: none;
            }
        }
    }
    
    
}