@import 'variables';

@mixin DashboardNav {
    header{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $primary;
        position: relative;
        overflow: hidden;
        width: 0;
        transition: 0.5s;
        a{
            text-decoration: none;
            color: $tertiary;
        }
        .fa-angle-left{
            position: absolute;
            top: 10px;
            right: 30px;
            font-size: 3em;
            color: $tertiary;
            cursor: pointer;
            &:hover{
                color: white;
            }
        }
        nav{
            margin-top: 50px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        img{
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin-top: 30px;
        }
        ul{
            list-style-type: none;
        }
        li{
            display: flex;
            font-family: $primaryFont, sans-serif;
            color: $tertiary;
            font-size: 1.5em;
            margin: 20px 0;
            cursor: pointer;
            &:hover{
                color: white;
            }
            i{
                width: 42px;
            }
            p{
                margin-left: 20px;
            }
        }

    }
    .showHeader{
        width: 100%;
    }
    @media screen and (min-width: 900px){
        header{
            width: 7%;
            
            img{
                width: 50px;
                height: 50px;
            }
            p{
                display: none;
            }
            .fa-angle-left{
                display: none;
            }
        }
    }
}