@import 'variables';
.home{
    width: 100%;
    height: 100%;
    position: relative;
    font-family: $primaryFont, sans-serif;
    header{
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1400px;
        min-height: 20px;
        display: flex;
        align-items: center;
        padding: 0 100px;
        justify-content: space-between;
        color: $primary;
        
        h1{
        }
        i{
            display: none;
        }
        a{
            color: $primary;

        }
        ul{
            list-style-type: none;
            display: flex;
            padding: 0;
        }
        li{
            padding: 20px 30px;
            font-weight: bold;
            cursor: pointer;
            &:hover{
                background-color: $secondary;
                color: white;
            }
        }
    }
    main{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        font-family: $primaryFont, sans-serif;

        .main-section{
            width: 400px;
            
        }
        img{
            width: 500px;
        }
        h1{
            font-weight: 600px;
        }
        button{
            padding: 15px;
            margin-top: 20px;
            background-color: $primary;
            color: $tertiary;
            border: none;
            outline: none;
            cursor: pointer;
            &:hover{
                background-color: $secondary;
                color: white;

            }
        }
    }
    .auth{
        
        
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 320px;
        height: 400px;
        a{
            color: $quarternary;
        }
       
        form{
            padding: 20px;
            border: 1px solid rgb(209, 209, 209);
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
                position: relative;
                width: 100%;
                margin-bottom: 10px;
                
                label{
                    position: absolute;
                    left: 5px;
                    top: 7px;
                    transition: 0.5s;
                    color: gray;
                    background-color: white;
                    padding: 0 10px;

                }
                p{
                    font-size: 0.8em;
                    color: red;
                }
            }
            .name{
                border: none;
                display: flex;
                justify-content: space-between;
                div{
                    width: 48%;
                }
                margin-bottom: 0;
            }
            input:not(:placeholder-shown) ~ label{
                top: -5px;
                font-size: 0.7em;
                
            }
            input:focus {
                border: 1px solid $quarternary;
            }
            input:focus ~ label {
                color: $quarternary;
            }
            
            img{
                width: 50px;
            }
            h2{
                margin-bottom: 20px;
            }
            input{
                margin-top: 5px;
                border: 1px solid rgb(209, 209, 209);
                
                font-size: 1em;
                padding: 4px;
                width: 100%;
                
                outline: none;
            }
            input[type=submit]{
                padding: 7px;
                margin-top: 10px;
                background-color: $primary;
                color: $tertiary;
                border: none;
                outline: none;
                cursor: pointer;
                &:hover{
                    background-color: $secondary;
                    color: white;

                }
            }

        }
        .hasConfirmation{
            font-family: $secondaryFont, sans-serif;
            margin-top: 20px;
            padding: 10px;
            border: 1px solid rgb(209, 209, 209);
            background-color: white;
            text-align: center;

        }
    }
}

@media only screen and(max-width : 900px){
    .home{
        overflow: hidden;
        header{
            padding: 0 20px;
            z-index: 10 !important;
            i{
                display: block !important;
                font-size: 2em;
            }
            nav{
                position: absolute;
                top: 43px;
                
                width: 100%;
                left: 1000px;
                height: 100vh !important;
                background-color: rgb(247, 247, 247);
                transition: 0.5s;
                ul{
                    flex-direction: column;
                    text-align: center;
                }
                li{
                    padding: 40px 0;
                }
            }
            .showHomeNav{
                left: 0

            }

        }
        main{
            flex-direction: column;
            align-items: center;
            width: 90%;
            z-index: 0;
            img{
                width: 80%;
                margin-top: 10px;
                
            }
            .main-section{
                width: 80%;
                text-align: center;
                margin: auto;
                
            }
        }
    }
}